@use "../vendors/_vendors-dir" as *;

.contact-info {
  text-align: center;
  margin: 0 auto;
  & > p {
    padding: 0 0.9em;
    margin: 3em auto 2em;
    max-width: 600px;
  }
}

.linkedin {
  margin-bottom: 4em;
  a {
  text-decoration: none;  
  }
}

.loc,
.mob,
.email,
.linkedin {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0.8em auto 0;
}

@include media(">tablet") {
  #contact {
    flex-wrap: wrap;
  }
}